

html,body{
    margin:0;
    font-family: freight-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

.title{
    font-size: 1.5rem;
    color:rgb(83, 83, 83);
    font-family: freight-sans-pro, sans-serif;
    font-weight: 700;
    padding: 0 0 30px 30px;
    margin:0;
}

.chart{
    margin: 15px;
    border: 1px solid #e0e0e0;
    max-width: 800px;
}

.tick-labels{
    font-size: 10pt;
    color:#333;
}